astroid==2.7.2
beautifulsoup4==4.9.3
flake8==3.9.2
greenlet==1.1.1
isort==5.9.3
lazy-object-proxy==1.6.0
mccabe==0.6.1
msgpack==1.0.2
mypy==0.910
mypy-extensions==0.4.3
neovim==0.3.1
platformdirs==2.2.0
pycodestyle==2.7.0
pyflakes==2.3.1
pylint==2.10.2
pynvim==0.4.3
soupsieve==2.2.1
toml==0.10.2
typing-extensions==3.10.0.0
wrapt==1.12.1
